<div>
    <% @notices.each do |notice| %>
 
        <h4><%=notice.title%></h4>

 
    <%end%>
  </div>


      <hr>

  <!-- Example row of columns -->
      <div class="row-fluid">
        <% @events.each do |event| %>
        <div class="span4">
          <h2><%= event.name %></h2>
          <p><%= event.description %> </p>
          <p><%= link_to 'Show',event,:class => 'btn' %></p>
        </div>
         <% end %>
      </div>

      <hr>

