  <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Noticias a passar!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

      </div>

      <hr>

  <!-- Example row of columns -->
      <div class="row-fluid">
        <% @events.each do |event| %>
        <div class="span4">
          <h2><%= event.name %></h2>
          <p><%= event.description %> </p>
          <p><%= link_to 'Show',event,:class => 'btn' %></p>
        </div>
         <% end %>
      </div>

      <hr>

