  <div class="navbar navbar-inverse navbar-fixed-top nav">
    <div class="navbar-inner ">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">AgroSocial</a>
      
            <div class="nav-collapse collapse">
              <ul class="nav">
                  <li class="divider-vertical"></li>
                  <li><%= link_to 'Eventos',events_path %></li>
                  <li class="divider-vertical"></li>
                  <li><a>Noticias</a></li>
                  
              </ul>
              <div class="pull-right">
                <ul class="nav pull-right">
                    <li><a>Registar</a></li>
                    <li class="divider-vertical"></li>
                    <li><a>Entrar</a></li>
                </ul>
              </div>
            </div>
        </div>
    </div>
</div>