   <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><%= link_to 'Home',root_path %></li>
                <li><%= link_to 'Eventos',events_path %></li>
                <li><%= link_to 'Noticias',notices_path %></li>
                <li><a href="#">Anuncios</a></li>
                <li><a href="#">Contactos</a></li>
              </ul>
            </div>
          </div>
      </div><!-- /.navbar -->